@using Adminstrator.Models.Stores;
@model StoreDto

@{
    ViewData["Title"] = "Store Management";
}

<h2 class="mb-4">Store Management</h2>
<div class="row">
    <div class="col-md-6 offset-md-3 mb-4">

        <div class="card shadow-sm border-0 h-100">

            <div class="card-body">

                <h5 class="card-title"">@Model.StoreName</h5>

                 <p class="card-text text-muted">@Model.Description</p>

                    <ul class="list-unstyled">

                        <li>
                            <strong>Address:</strong> @Model.Address
                        </li>

                        <li>
                            <strong>Phone:</strong> @Model.Phone
                        </li>

                        <li>
                            <strong>Status:</strong>
                            @if (Model.IsActive)
                            {
                                <span class="badge bg-success">Active</span>
                            }
                            else
                            {
                                <span class="badge bg-secondary">Inactive</span>
                            }
                        </li>
                    </ul>

                @* Redirect to Product Page that show products in this store *@
                <a asp-controller="Product"
                   asp-action="Management"
                   asp-route-storeId="@Model.StoreId"
                   class="btn btn-primary">
                    Manage Store
                </a>

            </div>
        </div>
    </div>
</div>

@* <div class="row">
    @foreach (var store in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm border-0 h-100">
                <div class="card-body">
                    <h5 class="card-title">@store.StoreName</h5>
                    <p class="card-text text-muted">@store.Description</p>

                    <ul class="list-unstyled">
                        <li><strong>Address:</strong> @store.Adress</li>
                        <li><strong>Phone:</strong> @store.Phone</li>
                        <li>
                            <strong>Status:</strong>
                            @if (store.IsActive)
                            {
                                <span class="badge bg-success">Active</span>
                            }
                            else
                            {
                                <span class="badge bg-secondary">Inactive</span>
                            }
                        </li>
                    </ul>

                    <a asp-area=""
                       asp-controller="Store"
                       asp-action="Details"
                       asp-route-storeId="@store.StoreId"
                       class="btn btn-primary">
                        Manage Store
                    </a>
                </div>
            </div>
        </div>
    }
</div> *@
